<!-- #footer-top -->
<div id="footer-top" class="clearfix two-regions">
    <div class="container">

        <!-- #footer-top-inside -->
        <div id="footer-top-inside" class="clearfix">
            <div class="row">
            
                        <div class="col-sm-6">
                <!-- #footer-top-left -->
                <div id="footer-top-left" class="clearfix">
                    <div class="footer-top-area">
                          <div class="region region-footer-top-left">
    <div id="block-block-1" class="block block-block clearfix">

    <h2 class="title">Apoio</h2>
  
  <div class="content">
    <p>
      <a href="https://www.ibict.br"><img alt="" src="{{ '/assets/images/logos/ibict-logo.png' | relative_url }}" /></a> 
      <a href="https://idrc.ca"><img alt="" src="{{ '/assets/images/logos/idrc.png' | relative_url }}" /></a> 
      <a href="https://br.okfn.org/"><img alt="" src="{{ '/assets/images/logos/okbr.png' | relative_url }}" /></a> 
      <a href="https://ocsdnet.org/"><img alt="" src="{{ '/assets/images/logos/ocsd-logo.png' | relative_url }}" /></a> 
      <a href="https://ubalab.github.io/"><img alt="" src="{{ '/assets/images/logos/ubalab-logo.png' | relative_url }}" /></a> 
      <a href="https://tropixel.org"><img alt="" src="{{ '/assets/images/logos/tropixel-logo.png' | relative_url }}" /></a> 
      <a ><img alt="" src="{{ '/assets/images/logos/gaivota-logo.png' | relative_url }}" /></a>
      <a href="https://cta.if.ufrgs.br/"><img alt="" src="{{ '/assets/images/logos/cta-logo.png' | relative_url }}" /></a> 
    </p>
  </div>
</div>
  </div>
                    </div>
                </div>
                <!-- EOF:#footer-top-left -->
            </div>
                        
                        <div class="col-sm-6">
                <!-- #footer-top-right -->
                <div id="footer-top-right" class="clearfix">
                    <div class="footer-top-area">                    
                          <div class="region region-footer-top-right">
    <div id="block-blog-recent" class="block block-blog clearfix">

    <h2 class="title">Posts recentes no blog</h2>
  
  <div class="content">
    <div class="item-list"><ul><li class="first"><a href="/blog/1806/website-arquivado">Website arquivado</a></li>
<li><a href="/blog/1708/pre-lancamento-video-ciencia-aberta-ubatuba">PRÉ-LANÇAMENTO vídeo &quot;Ciência Aberta Ubatuba&quot;</a></li>
<li><a href="/blog/1704/da-ciencia-aberta-a-ciencia-comum-por-um-outro-desenvolvimento">Da Ciência Aberta à Ciência Comum: por um outro desenvolvimento</a></li>
<li><a href="/blog/1703/ciencia-aberta-para-outro-desenvolvimento">Ciência Aberta para Outro Desenvolvimento.</a></li>
<li class="last"><a href="/blog/1612/zee-ln-documentos-para-reuniao-do-consema">ZEE-LN - documentos para reunião do CONSEMA</a></li>
</ul></div></div>
</div>
  </div>
                    </div>
                </div>
                <!-- EOF:#footer-top-right -->
            </div>
                        
            </div>
        </div>
        <!-- EOF: #footer-top-inside -->

    </div>
</div>
<!-- EOF: #footer-top -->    


<div id="subfooter" class="clearfix">
	<div class="container">
		
		<!-- #subfooter-inside -->
		<div id="subfooter-inside" class="clearfix">
            <div class="row">
    			<div class="col-md-4">
                    <!-- #subfooter-left -->
                                        <!-- EOF: #subfooter-left -->