---
layout: default
---
<div class="row">
  <section class="col-md-{% if page.sidebar == false %}12{% else %}8{% endif %}">
    <div id="main" class="clearfix">
      <article class="node node-page clearfix">
        <header>
          <h1 class="title" id="page-title">{{ page.title | escape }}</h1>
          {% if page.date_original_string %}<p class="text-muted"><small>Data do documento: {{ page.date_original_string }}</small></p>{% endif %}
        </header>
        <div class="content mt-3">{{ content }}</div>
      </article>
    </div>
  </section>
  {% if page.sidebar != false %}

<aside class="col-md-4 fix-sidebar-second">
                    <!--#sidebar-->
                    <section id="sidebar-second" class="sidebar clearfix">
                      <div class="region region-sidebar-second">
    <div id="block-block-2" class="block block-block clearfix">

    <h2 class="title">Participe</h2>
  
  <div class="content">
    <ul>
<li>Cadastre-se no <a href="https://groups.google.com/forum/#!forum/cienciaabertaubatuba/">grupo de e-mails</a>;</li>
<li>Acesse nossa <a href="http://wiki.ubatuba.cc/doku.php?id=cienciaaberta:cienciaaberta">wiki</a>;</li>
<li>Acompanhe o <a href="blog.html">blog do projeto</a>;</li>
<li>Assista nosso <a href="https://www.youtube.com/channel/UC1J2Bd6q6VhFBNGihT2qYvA">canal do Youtube</a>;</li>
<li>Curta nossa <a href="https://www.facebook.com/CienciaAbertaUbatuba">p&aacute;gina no Facebook</a>;</li>
<li>Entre em <a href="contact.html">contato</a>.</li>
</ul>
  </div>
</div>
<div id="block-views-destaques-block" class="block block-views clearfix">

    <h2 class="title">Destaques</h2>
  
  <div class="content">
    <div class="view view-destaques view-id-destaques view-display-id-block view-dom-id-ffc06b67d2db4c22b1f145314a8f926a">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1704/da-ciência-aberta-à-ciência-comum-por-um-outro-desenvolvimento.html">Da Ciência Aberta à Ciência Comum: por um outro desenvolvimento</a></span>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1703/ciência-aberta-para-outro-desenvolvimento.html">Ciência Aberta para Outro Desenvolvimento.</a></span>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1610/audiências-sobre-zoneamento-ecológico-econômico-do-litoral-norte.html">Audiências sobre Zoneamento Ecológico-Econômico do Litoral Norte</a></span>  </div>  </div>
  <div class="views-row views-row-4 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1609/carta-do-litoral-norte-2016.html">CARTA DO LITORAL NORTE 2016</a></span>  </div>  </div>
  <div class="views-row views-row-5 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1608/rádio-tec-5816.html">Rádio TEC 5/8/16</a></span>  </div>  </div>
  <div class="views-row views-row-6 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="canal-ciência-aberta.html">Vídeos Ciência Aberta</a></span>  </div>  </div>
  <div class="views-row views-row-7 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1606/workshop-de-dados-georreferenciados.html">Workshop de Dados Georreferenciados</a></span>  </div>  </div>
  <div class="views-row views-row-8 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1605/rádio-tec-zee.html">Rádio TEC - ZEE</a></span>  </div>  </div>
  <div class="views-row views-row-9 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1604/ciência-aberta-para-o-zoneamento-ecológico-e-econômico.html">Ciência Aberta para o Zoneamento Ecológico e Econômico</a></span>  </div>  </div>
  <div class="views-row views-row-10 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1604/ciência-aberta-ubatuba-no-programa-rádio-tec.html">Ciência Aberta Ubatuba no Programa Rádio TEC</a></span>  </div>  </div>
  <div class="views-row views-row-11 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1603/destaques-simciti-consulta-internet.html">Destaques SiMCiTI - consulta via internet</a></span>  </div>  </div>
  <div class="views-row views-row-12 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1603/encontros-de-ciência-aberta-programa-rádio-tec.html">Encontros de Ciência Aberta / Programa Rádio TEC</a></span>  </div>  </div>
  <div class="views-row views-row-13 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1602/consulta-pública-sistema-municipal-de-ciência-tecnologia-e-inovação-de-ubatuba-simciti.html">Consulta Pública - Sistema Municipal de Ciência, Tecnologia e Inovação de Ubatuba (SIMCITI)</a></span>  </div>  </div>
  <div class="views-row views-row-14 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1601/caracterização-da-pesquisa-científica-emsobre-ubatuba.html">Caracterização da pesquisa científica em/sobre Ubatuba</a></span>  </div>  </div>
  <div class="views-row views-row-15 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1601/cadastro-de-pesquisas-científicas.html">Cadastro de Pesquisas Científicas</a></span>  </div>  </div>
  <div class="views-row views-row-16 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1512/rodada-ciência-aberta.html">Rodada Ciência Aberta</a></span>  </div>  </div>
  <div class="views-row views-row-17 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1512/tropixel-labs-oficina-estações-meteorológicas-modulares.html">Tropixel Labs - Oficina Estações Meteorológicas Modulares</a></span>  </div>  </div>
  <div class="views-row views-row-18 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1509/encontro-sobre-pl-249-relato.html">Encontro sobre PL 249 - relato</a></span>  </div>  </div>
  <div class="views-row views-row-19 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1509/percepções-sobre-ciência-aberta-e-colaborativa.html">Percepções sobre ciência aberta e colaborativa</a></span>  </div>  </div>
  <div class="views-row views-row-20 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1506/tropixel-ciência-aberta-documentando.html">Tropixel Ciência Aberta - Documentando</a></span>  </div>  </div>
  <div class="views-row views-row-21 views-row-odd views-row-last">
      
  <div class="views-field views-field-title">        <span class="field-content"><a href="blog/1506/memória-do-encontro-de-apresentação-do-projeto-ciência-aberta-ubatuba.html">Memória do Encontro de Apresentação do Projeto Ciência Aberta Ubatuba</a></span>  </div>  </div>
    </div>
  
  
  
  
  
  
</div>  </div>
</div>
  </div>
                    </section>
                    <!--EOF:#sidebar-->
                </aside>

  {% endif %}
</div>
