---
layout: default
---
<div class="row">
  <section class="col-md-8">
    <div id="main" class="clearfix">
      <article class="node node-page node-type-blog clearfix">
        <header>
          <h1 class="title" id="page-title">{{ page.title | escape }}</h1>
          <div class="meta">
            {% if page.date %}<span class="submitted-date">Publicado em: {{ page.date | date: "%d/%m/%Y" }}</span>{% endif %}
            {% if page.author %}<span class="author"> por {{ page.author | escape }}</span>{% endif %}
          </div>
        </header>
        <div class="content mt-3">{{ content }}</div>
        {% if page.tags and page.tags.size > 0 %}<div class="tags mt-4"><small><strong>Tags:</strong> {% for tag in page.tags %}<a href="{{ '/tags/' | append: tag | slugify | relative_url }}" class="badge bg-secondary text-decoration-none">{{ tag }}</a> {% endfor %}</small></div>{% endif %}
      </article>
    </div>
  </section>

                                <aside class="col-md-4 fix-sidebar-second">
                    <!--#sidebar-->
                    <section id="sidebar-second" class="sidebar clearfix">
                      <div class="region region-sidebar-second">
    <div id="block-block-2" class="block block-block clearfix">

    <h2 class="title">Participe</h2>
  
  <div class="content">
    <ul>
<li>Cadastre-se no <a href="https://groups.google.com/forum/#!forum/cienciaabertaubatuba/">grupo de e-mails</a>;</li>
<li>Acesse nossa <a href="http://wiki.ubatuba.cc/doku.php?id=cienciaaberta:cienciaaberta">wiki</a>;</li>
<li>Acompanhe o <a href="blog.html">blog do projeto</a>;</li>
<li>Assista nosso <a href="https://www.youtube.com/channel/UC1J2Bd6q6VhFBNGihT2qYvA">canal do Youtube</a>;</li>
<li>Curta nossa <a href="https://www.facebook.com/CienciaAbertaUbatuba">p&aacute;gina no Facebook</a>;</li>
<li>Entre em <a href="contact.html">contato</a>.</li>
</ul>
  </div>
</div>
<div id="block-views-destaques-block" class="block block-views clearfix">

<h2 class="title">Destaques</h2>
    <span class="field-content">
      <a href="/blog/1704/da-ciencia-aberta-a-ciencia-comum-por-um-outro-desenvolvimento">Da Ciência Aberta à Ciência Comum: por um outro desenvolvimento</a>
    </span>
    <br />  
    <span class="field-content">
      <a href="/blog/1703/ciencia-aberta-para-outro-desenvolvimento">Ciência Aberta para Outro Desenvolvimento.</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1610/audiencias-sobre-zoneamento-ecologico-economico-do-litoral-norte">Audiências sobre Zoneamento Ecológico-Econômico do Litoral Norte</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1609/carta-do-litoral-norte-2016">CARTA DO LITORAL NORTE 2016</a>
    </span>
    <br />  
    <span class="field-content">
      <a href="/blog/1608/radio-tec-5816">Rádio TEC 5/8/16</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/canal-ciencia-aberta">Vídeos Ciência Aberta</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1606/workshop-de-dados-georreferenciados">Workshop de Dados Georreferenciados</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1605/radio-tec-zee">Rádio TEC - ZEE</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1604/ciencia-aberta-para-o-zoneamento-ecologico-e-economico">Ciência Aberta para o Zoneamento Ecológico e Econômico</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1604/ciencia-aberta-ubatuba-no-programa-radio-tec">Ciência Aberta Ubatuba no Programa Rádio TEC</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1603/destaques-simciti-consulta-internet">Destaques SiMCiTI - consulta via internet</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1603/encontros-de-ciencia-aberta-programa-radio-tec">Encontros de Ciência Aberta / Programa Rádio TEC</a>
    </span>
    <span class="field-content">
      <a href="/blog/1602/consulta-publica-sistema-municipal-de-ciencia-tecnologia-e-inovacao-de-ubatuba-simciti">Consulta Pública - Sistema Municipal de Ciência, Tecnologia e Inovação de Ubatuba (SIMCITI)</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1601/caracterizacao-da-pesquisa-cientifica-emsobre-ubatuba">Caracterização da pesquisa científica em/sobre Ubatuba</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1601/cadastro-de-pesquisas-cientificas">Cadastro de Pesquisas Científicas</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1512/rodada-ciencia-aberta">Rodada Ciência Aberta</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1512/tropixel-labs-oficina-estacoes-meteorologicas-modulares">Tropixel Labs - Oficina Estações Meteorológicas Modulares</a>
    </span> 
    <br />
    <span class="field-content">
      <a href="/blog/1509/encontro-sobre-pl-249-relato">Encontro sobre PL 249 - relato</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1509/percepcoes-sobre-ciencia-aberta-e-colaborativa">Percepções sobre ciência aberta e colaborativa</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1506/tropixel-ciencia-aberta-documentando">Tropixel Ciência Aberta - Documentando</a>
    </span>
    <br />
    <span class="field-content">
      <a href="/blog/1506/memoria-do-encontro-de-apresentacao-do-projeto-ciencia-aberta-ubatuba">Memória do Encontro de Apresentação do Projeto Ciência Aberta Ubatuba</a>
    </span>
    </div>
  
  
  
  
  
  
</div>  </div>
</div>
  </div>
                    </section>
                    <!--EOF:#sidebar-->
                </aside>

</div>